* {
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.turbo {
color: red;

}


.boost {
   color:greenyellow
}

#exhaust {
    color: blue;
}

.personalbold {
    font-weight: bolder;

}

#link {
color: greenyellow;

}

#contact {
color: white;

}