* {
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.turbo {
color: red;
background-color: indigo;
}


.boost {
   color: rgb(99, 18, 18); 
}

#exhaust {
    color: blue;
}